body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.card input {
    width: 70%;
    padding: 10px;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.card input:focus {
    border-color: #4f46e5;
}

.card button {
    width: 100%;
    padding: 10px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover {
    background: #4338ca;
}